body {
    background-color: black;
    color: yellow;
    margin: 0px;
}

header {
    font-size: 45px;
    color: white;
    border-bottom: solid 15px greenyellow;
    text-align: center;
}

section{
    display: flex;
    background-color: #4f4fab;
    padding: 30px;
    justify-content: center;
}