body {
    background-color: black;
    color: yellow;
    margin: 0px;
}

header {
    font-size: 45px;
    color: white;
    border-bottom: solid 15px greenyellow;
    text-align: center;
}

.primeira{
    display: flex;
    background-color: #4f4fab;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
}

.texto {
    margin-right: 5%;
}

img {
    width: 210px;
    height: 280px;
}
